@model List<Booking>

@{
    ViewBag.Title = "View Bookings by Months";

    var MonthsArray = new[]
    {
        new { value=1, text="January"},
        new { value=2, text="February"},
        new { value=3, text="March"},
        new { value=4, text="April"},
        new { value=5, text="May"},
        new { value=6, text="June"},
        new { value=7, text="July"},
        new { value=8, text="August"},
        new { value=9, text="September"},
        new { value=10, text="October"},
        new { value=11, text="November"},
        new { value=12, text="December"}
    };

}

@foreach (var m in MonthsArray)
{
    /*
        TODO L01 TASK 5e: LINQ: Select all Booking for current PetTypeId sorted by CheckInDate (DESC) and by PetName (ASC)
    */
    List<Booking> data =   
        Model; // this line needs to be modified

    if (data.Count > 0)
    {
        <span style="font-weight:bold">Bookings made in @m.text</span>
        <table class="table table-bordered table-condensed table-hover table-striped">
            <tr>
                <th scope="col" width="25%">Check-In Date</th>
                <th scope="col" width="25%">Booking ID</th>
                <th scope="col" width="25%">Pet Name</th>
                <th scope="col" width="25%">Owner Name</th>
            </tr>
            @foreach (Booking b in data)
            {
                <tr scope="row">
                    <td width="25%">@string.Format("{0:dd-MM-yyyy}", b.CheckInDate)</td>
                    <td width="25%">@b.Id</td>
                    <td width="25%">

                       @b.PetName
                       <img src="~/images/pethotel/pettype@(b.PetTypeId).png" height="25px" />

                    </td>
                          <td width="25%">@b.OwnerName</td>
                      </tr>
                  }
              </table>
          }
      }




